:root {
  /* 색상 */
  --youtube--color: #ff0000;
  --title-color: white;
  --title-background-color: #140a00;
  --header-icons-color: #848384;
  --header-icons-changed-color: #1450b0;

  /* 패딩 사이즈 */
  --padding: 12px;
  --profile-img-size: 36px;

  /* 폰트 사이즈 */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

/* 모든 태그 설정 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Top 설정 */
.top {
  background-color: var(--title-background-color);
}

.bottom {
  display: flex;
  flex-direction: column;
}

/* navigation bar 설정 */
nav {
  height: 44px;
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  font-size: var(--font-large);
  color: var(--title-color);
  text-decoration: none;
}
nav .left i {
  color: var(--youtube--color);
}

nav .right i {
  margin-right: var(--padding);
}
/* video 설정 */
.videoplayer {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: var(--title-background-color);
}

.videoplayer video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

/* bottom 설정 */
.bottom {
  padding: var(--padding);
}

/* header 설정 */
.metadata .hashtags {
  display: flex;
  color: var(--header-icons-changed-color);
  font-size: var(--font-small);
}

.metadata .hashtags li {
  margin-right: var(--padding);
}
.metadata .titleandbutton {
  display: flex;
  font-size: var(--font-large);
}

.metadata .titleandbutton .title {
  font-size: var(--font-medium);
  margin-right: var(--padding);
}

.metadata .titleandbutton .title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.metadata .titleandbutton .morebutton {
  height: 100%;
  transition: transform 300ms ease-in-out;
}

.metadata .titleandbutton .morebutton.clicked {
  transform: rotate(180deg);
}

.metadata .views {
  font-size: var(--font-small);
  color: var(--header-icons-color);
}
.icons {
  display: flex;
  justify-content: space-around;
  margin: var(--padding);
}

.icons button {
  display: flex;
  flex-direction: column;
  color: var(--header-icons-color);
  font-size: var(--font-small);
}

.icons button i {
  margin: 0 auto;
  margin-bottom: calc(var(--padding) / 2);
  font-size: 16px;
}

.icons button i.active {
  color: var(--header-icons-changed-color);
}

.youtuber {
  display: flex;
  padding: var(--padding);
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid darkgray;
  border-top: 1px solid darkgray;
}

.youtuber .profile {
  display: flex;
  align-items: center;
}

.youtuber .nameandsubscribes {
  display: flex;
  flex-direction: column;
  padding-left: var(--padding);
}
.youtuber .name {
  font-size: var(--font-medium);
  color: black;
}
.youtuber .num {
  font-size: var(--font-small);
  color: var(--header-icons-color);
}

.youtuber .subscribes button {
  color: red;
}
.youtuber img {
  width: var(--profile-img-size);
  height: var(--profile-img-size);
  border-radius: 50%;
}

/* footer랑 비디오 */
.upnext {
  padding: 0 var(--padding);
}
.upnext > .title {
  font-size: var(--font-medium);
  color: darkgray;
  margin-bottom: calc(var(--padding) / 2);
}
.upnext .videos .items {
  display: flex;
  margin-top: var(--padding);
}

.upnext .videos .items .img {
  flex: 1 1 35%;
}
.upnext .videos .items .img img {
  width: 100%;
}
.upnext .videos .items .video {
  flex: 1 1 60%;
}
.upnext .videos .items button {
  flex: 1 1 5%;
  height: 100%;
}

.upnext .videos .items .video {
  display: flex;
  flex-direction: column;
  padding-left: var(--padding);
}
.upnext .videos .items .video .videotitle {
  font-size: var(--font-medium);
}
.upnext .videos .items .video .videoinfo {
  color: var(--header-icons-color);
  font-size: var(--font-small);
}
.upnext .videos .items .video .views {
  font-size: var(--font-small);
  color: var(--header-icons-color);
}

@media screen and (min-width: 760px) {
  .bottom {
    flex-direction: row;
    margin: var(--padding) 0;
  }
  .bottom header {
    flex: 1 1 50%;
  }
  .bottom footer {
    flex: 1 1 50%;
  }
}
